@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-noto-sans-jp: var(--font-noto-sans-jp);
}

body {
    font-family: var(--font-noto-sans-jp);
}

#main-section {
    background-image: url('/img/background.jpg');
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

#main-section:before {
    content: '';
    background: inherit;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
}